<%- include('partials/header'); -%>

<div class="container text-center bg-light p-5" style="color: rgb(247, 64, 64); border-radius: 10px; border: 1px solid gray;">
    <h3>Error in sending message</h3><br><br>
    <a href="/<%= notify_category %>" class="btn btn-outline-primary">Retry</a>
</div>

<%- include('partials/footer'); -%>
