<%- include('partials/header'); -%>

<div class="container text-center bg-light p-5" style="color: rgb(46, 192, 46); border-radius: 10px; border: 1px solid gray;">
    <h3>Message Sent Successfully <span style="font-size: xx-large;font-weight: bolder;">✓</span></h3><br><br>
    <a href="/" class="btn btn-outline-primary">go to homepage</a>
</div>

<%- include('partials/footer'); -%>
